@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure For .NET Developers.</h1>
    <h2>We are here to lean different Microsoft Azure features</h2>
</div>
